<!DOCTYPE html>
<html>
    <head>
        <title>main.html</title>
    </head>
    <body>
        <h1>main page</h1>

        <h3>welcome, <%= id %> 번째 가입고객님!!</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eaque omnis quas assumenda reprehenderit? Esse facere voluptates delectus, autem explicabo saepe laborum necessitatibus voluptatem rem iusto odit earum nostrum laboriosam.</p>
    
        <div<a href="/logout">logout</a></div>
    
    </body>

</html>